
body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}
header{
  position: fixed;
  width: 100%;
  background: #ccc;
}

h1 {
  text-align: left;
  padding-left: 2%;
  float: left;
}

nav {
margin-top: 30px;
float: right;
}

nav ul {
list-style-type: none;
}

 nav li {
display: inline;
margin-left: 10px;
padding-right: 30px;
}
 section {
   float: right;
   padding:5%;
 }
 div {
   float: left;
   width: 50%;
 }
 article {

   float: right;
   width: 50%;
   overflow: auto;
   padding-left: 10%;
   padding-right: 5%;
   padding-top: 7%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
   box-sizing: border-box;
 }


#cougar {
  clear: both;
  background: #B26219;

}
#lion {
background: #FFD5AE;

}
#tiger {
  background: #FFBD82;
}

h2{
    text-align:left;
    padding-top: 80px;
}
section > p{
  text-align:center;
}


img {
  display: block;

}

footer {
  text-align: center;
  color: #fff;

  padding: 40px 200px;
}
a { color: #379CB2; }
a:hover { color: #82E8FF; }
/* ----- suggested colors -----
   B26219cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */
